/* Dashboard
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*color*/
$dash-color-accent: #42586E !default;
$dash-color-highlight: #FAFAFF !default;
$dash-color-base: #1B3147 !default;
$dash-color-light: #FFFFFF !default;
$dash-color-dark: #0C2032 !default;

$lineheight: 48px;

// milligram overrides
.dash {
  .row {
    // this is preventing horizontal scroll bar
    width: 100%;
    margin-left: 0;

    .column {
      // this is preventing gaps in columns
      padding: 0;
    }
  }
}

.dash-sidebar {
  background-color: $dash-color-base;
  color: $dash-color-light;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $dash-color-highlight;
    }
  }

  .dash-title {
    text-align: center;
    font-size: 2.0rem;
    line-height: $lineheight;
    background-color: $dash-color-accent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .dash-sidebar-container {
    ul.dash-list {
      list-style: none;
      margin-bottom: 0;

      .dash-item {
        margin-bottom: 0;

        div {
          text-align: center;
          padding: 16px 0;

          &:hover {
            background-color: $dash-color-dark;
          }
        }
      }
    }
  }
}

.dash-container {
  .title {
    font-size: 3.2rem;
    background-color: $dash-color-accent;
    color: $dash-color-light;
    padding: 0 0 0 16px;
    line-height: $lineheight;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .content {
    padding: 16px;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.5);

    .list {
      list-style: none;

      .list-item {
        padding: 4px 16px;

        .name {

        }
        .options {
          float: right;
          list-style: none;
          margin: 0;

          .option {
            display: inline-block;
            margin: 0 12px 0 0;
            padding: 2px;
          }
        }
      }
    }
    .editortitle {

    }
    .editor {

    }
  }
}
