// milligram color overrides
$color-initial: #fff !default;
$color-primary: #5082c8 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
